@model IEnumerable<Borshor>

@{
    Layout = "~/Views/Dashboard/_Layout.cshtml";
    ViewData["Title"] = "Borshors";
}
<div class="justify-content-between align-items-center mx-auto">
    <a asp-controller="Dashboard" asp-action="AddBorshor" class="btn btn-light">
        <i class="material-icons">add</i> Add Borshor <i class="mdi mdi-add ms-1"></i>
    </a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-warning d-flex align-items-center " role="alert" style="width: 50%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
            <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z" />
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
        </svg>
        <div>No Borshors yet</div>
    </div>
}
else
{
    <div class="mx-auto" style="width: 100%;">
        <div class="card border border-success">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title text-white">Borshors</h4>
            </div>

            <div class="card-body pt-0">
                <div class="table-responsive" style="height: calc(100% - 20px); overflow-y: auto;">
                    <table class="table table-hover mb-0 w-100">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Creating Date</th>
                                <th>Delete</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var borshor in Model)
                            {
                                <tr>
                                    <td>@borshor.Titel</td>
                                    <td>
                                        <img src="@Url.Content("~/Images/Borshors/" + borshor.ImageUrl)"
                                             alt="Borshor Image"
                                             style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px; border: 2px solid #28a745;">
                                    </td>
                                    <td>@Html.Raw(borshor.Description)</td>
                                    <td>@borshor.CreatedAt</td>
                                    <td>
                                        <form id="deleteForm-@borshor.Id" asp-action="DeleteBorshor" asp-controller="Dashboard" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="id" value="@borshor.Id" />
                                        </form>
                                        <button onclick="confirmDelete(@borshor.Id)" class="btn btn-danger btn-sm">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="~/Pdf/Borshors/@borshor.PdfUrl" target="_blank">
                                            <i class="material-icons">info</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



}
<script>
    function confirmDelete(productId) {
        Swal.fire({
            title: "Are you sure?",
            text: "This action cannot be undone!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#6c757d",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("deleteForm-" + productId).submit();
            }
        });
    }
</script>



