

@model IEnumerable<CategoryModel>

@{
    ViewData["Titel"] = "Categories";
}


<div class="justify-content-between align-items-center mx-auto">
    <a asp-controller="Dashboard" asp-action="Add" class="btn btn-light"><i class="material-icons">add</i>Add Category <i class="mdi mdi-add ms-1"></i></a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-warning d-flex align-items-center " role="alert" style="width: 50%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
            <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z" />
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
        </svg>
        <div>
            No categories yet
        </div>
    </div>
}
else
{
    <div class="mx-auto" style="width: 100%;">
        <div class="card border border-success">

            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title text-white">Categories</h4>
            </div>

            <div class="card-body pt-0">
                <div class="table-responsive" style="height: calc(100% - 20px); overflow-y: auto;">
                    <!-- تقييد الجدول -->
                    <table class="table table-hover mb-0 w-100">
                        <thead class="table-hover " >
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Creating Date</th>
                                <th>Updating Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">@category.Name</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">@category.Description</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">@category.CreatedOn</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">@category.UpdatedOn</h5>
                                    </td>
                                    <td>
                                        <a asp-controller="Dashboard" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning"><i class="material-icons">edit</i> Edit</a>
                                    </td>
                                    <td>
                                        <form asp-controller="Dashboard" asp-action="Delete" method="post" onsubmit="return confirm('هل أنت متأكد من حذف هذه الفئة؟');">
                                            <input type="hidden" name="id" value="@category.Id" />
                                            <button type="submit" class="btn btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                </svg>
                                                Delete
                                            </button>
                                        </form>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div> <!-- end table-responsive -->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div>


}
