@{
    ViewData["Title"] = "تفاصيل المنتجات";
}
@model ProductsViewModel

<div class="container-fluid p-4 about-wrapper  px-4 sm:px-6 lg:px-8 animate-fade-in">
    <a asp-controller="Product" asp-action="Index" class="btn order-btn mb-4">
        <i class="bi bi-arrow-left"></i> الرجوع لجميع المنتجات
    </a>

    <div class="card shadow-sm border-0 rounded-4 overflow-hidden w-100">
        <div class="bg-design product-details-card">
            <div class="bg-design product-details-image">
                <img src="~/Images/Products/@Model.ImageUrl" alt="@Model.Name">
            </div>

            <div class="product-details-info">
                <h1>@Model.Name</h1>

                @if (Model.IsAvailable)
                {
                    <span class="badge bg-success available-badge">متوفر</span>
                }
                else
                {
                    <span class="badge bg-danger available-badge">غير متوفر حاليا !!</span>
                }


                <div class="product-price">
                    @if (Model.DiscountedPrice > 0 && Model.DiscountedPrice < Model.Price)
                    {
                        <p><strong>السعر:</strong> <span class="text-decoration-line-through text-muted">@Model.Price EGP</span></p>
                        <p><strong>السعر بعد الخصم:</strong> <span class="text-danger fw-bold fs-4">@Model.DiscountedPrice EGP</span></p>
                    }
                    else
                    {
                        <p><strong>السعر:</strong> <span class="fs-4">@Model.Price EGP</span></p>
                    }
                </div>
                <div>
                    <p>
                        @Model.
                    </p>
                </div>
                <!-- إضافة للسلة -->
                <div class="add-to-cart-container" style="margin-top: 20px;">
                    <form asp-controller="Cart" asp-action="AddToCart" method="post" onsubmit="return showAddedToCart(event)" class="add-to-cart-form">
                        <input type="hidden" name="productId" value="@Model.Id" />

                        <div class="quantity-container">
                            <label for="quantity" class="quantity-label">الكمية:</label>
                            <input type="number" name="quantity" id="quantity" value="1" min="1" class="quantity-input" />
                        </div>

                        <button type="submit" class="addToCart-btn">
                            <i class="fa-solid fa-cart-shopping"></i>
                             أضف إلى السلة
                        </button>
                    </form>
                </div>

            </div>
        </div>

        <div class="bg-design product-extra-card">
            <h4>وصف المنتج:</h4>
            <div class="product-text">@Html.Raw(Model.Description)</div>
        </div>

        <div class="bg-design product-extra-card">
            <h4>طريقة الاستخدام:</h4>
            <div class="product-text">@Html.Raw(Model.HowToUse)</div>
        </div>
        <div class="bg-design product-extra-card">
            <h4>الاهمية:</h4>
            <div class="product-text">@Html.Raw(Model.Importance)</div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function showAddedToCart(event) {
        event.preventDefault(); 

        Swal.fire({
            title: 'تمت الإضافة!',
            text: 'تمت إضافة المنتج إلى السلة بنجاح.',
            icon: 'success',
            confirmButtonText: 'تمام',
            timer: 1500,
            showConfirmButton: false
        });

        // نرسل الفورم بعد ثانية
        setTimeout(() => {
            event.target.submit();
        }, 1000);

        return false;
    }
</script>

